# Copyright (c) 2019 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

menuconfig MODULE_GNRC
    bool "Gnrc network stack"
    select MODULE_GNRC_NETAPI
    select MODULE_GNRC_NETREG
    select MODULE_GNRC_NETIF
    select MODULE_GNRC_NETIF_HDR
    select MODULE_GNRC_PKTBUF_STATIC

if MODULE_GNRC

rsource "application_layer/dhcpv6/Kconfig"
rsource "link_layer/gomach/Kconfig"
rsource "link_layer/lorawan/Kconfig"
rsource "link_layer/lwmac/Kconfig"
rsource "link_layer/mac/Kconfig"
rsource "netif/Kconfig"
rsource "network_layer/ipv6/Kconfig"
rsource "network_layer/sixlowpan/Kconfig"
rsource "pktbuf/Kconfig"
rsource "pktbuf_static/Kconfig"
rsource "pktdump/Kconfig"
rsource "routing/rpl/Kconfig"
rsource "transport_layer/tcp/Kconfig"
rsource "netreg/Kconfig"
rsource "netapi/Kconfig"

endif # MODULE_GNRC
